
body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 50px;
  padding: 100px;
  text-align: center;
  background-image:url('song1.jpg') ;
    background-size: cover;
    background-position: center;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: green;
  transition: all 0.3s ease;
  display: inline-block;
}

a:hover {
  background-color: #333;
  color: #fff;
}

br {
  margin-top: 20px;
}

a, br {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
P{
	font-size: 24px;
    font-weight: bold;
    color:red;
}
